.addressCard {
  flex: 1;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #b11f24;
}

.formGroup {
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.half {
  flex: 1;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    gap: 20px;
  }
}
